no ip access-list standard s2
no ip access-list standard ss2
interface GigabitEthernet1/0 
 no switchport mode access
 no description this is from s2
 no switchport access vlan 500
 no shut
!
interface GigabitEthernet1/2
 no switchport mode access
 no description this is from s2
 no switchport access vlan 501
 no shut
!
interface GigabitEthernet1/3
 no switchport mode access
 no description this is from s2
 no switchport access vlan 502
 no shut
!
vlan 500
vlan 501
vlan 502