{% for network_device in groups['ios'] %}

            Hostname :- {{hostvars[network_device]['ansible_net_hostname']}}
            Device Model :- {{hostvars[network_device]['ansible_net_model']}}
            Device Version :- {{hostvars[network_device]['ansible_net_version']}}
            Device Image:- {{ hostvars[network_device]['ansible_net_image']}}
{% endfor %}