no ip access-list standard s1
no ip access-list standard ss1
interface GigabitEthernet1/0
 no switchport mode access
 no switchport access vlan 500
!
interface GigabitEthernet1/2
 no switchport mode access
 no switchport access vlan 501
 no shut
!
interface GigabitEthernet1/3
 no switchport mode access
 no switchport access vlan 502
 no shut
!
no vlan 500
no vlan 501
no vlan 502